body {
	background: rgb(218, 102, 102) !important;	
}

.thank {
    text-align: center;
    justify-content: center;
}

.wrapper {	
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 85px 105px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,0.1); 
} 

.form-signin-heading {
	  margin-bottom: 30px;
      font-size: 40px;
	}
